*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:Poppins,sans-serif;
}

body{
  background:#0f172a;
  color:white;
}

.hidden{display:none;}

/* LOGIN */
.login-page{
  height:100vh;
  display:flex;
  justify-content:center;
  align-items:center;
  background:#020617;
}

.login-box{
  background:#111827;
  padding:40px;
  border-radius:15px;
  width:300px;
  text-align:center;
}

.login-box input{
  width:100%;
  padding:10px;
  margin:10px 0;
  border:none;
  border-radius:8px;
}

.login-box button{
  width:100%;
  padding:10px;
  background:#3b82f6;
  color:white;
  border:none;
  border-radius:8px;
  cursor:pointer;
}

#error{
  color:red;
  margin-top:10px;
}

/* DASHBOARD */
.dashboard{
  display:flex;
}

.sidebar{
  width:240px;
  background:#111827;
  padding:20px;
  min-height:100vh;
}

.sidebar h2{
  margin-bottom:20px;
  color:#38bdf8;
}

.sidebar ul{
  list-style:none;
}

.sidebar ul li{
  padding:12px;
  margin:5px 0;
  cursor:pointer;
  border-radius:8px;
}

.sidebar ul li:hover,
.sidebar ul .active{
  background:#1e293b;
}

.main{
  flex:1;
  padding:20px;
}

.topbar{
  margin-bottom:20px;
}

.cards{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(200px,1fr));
  gap:15px;
}

.card{
  background:#111827;
  padding:20px;
  border-radius:12px;
}

.online{color:lime;}

.panel-box{
  margin-top:20px;
  background:#111827;
  padding:20px;
  border-radius:12px;
} 
